{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-12">
          <h2>Add Transferor</h2>
            <form method="POST">
                  Name: <input type="text" name="name"><br>
                  Surname: <input type="text" name="lastname"><br>
                  Phonenumber: <input type="text" name="phonenumber"><br>
                  Email: <input type="text" name="email"><br>
                  Business Name: <input type="text" name="business"><br>
                  Address line 1: <input type="text" name="address_line1"><br>
                  Address line 2: <input type="text" name="address_line2"><br>
                  Town: <input type="text" name="town"><br>
                  County: <input type="text" name="county"><br>
                  Postcode: <input type="text" name="postcode"><br>
                  SIC Code: <input type="text" name="siccode">
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
</div>

{% include "footer.html" %}