{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-12">
          <h2>Add Location</h2>
            <form method="POST">
                  Name: <input type="text" name="name"><br>
                  Company: <input type="text" name="company"><br>
                  Address Line 1: <input type="text" name="address_line1"><br>
                  Address Line 2: <input type="text" name="address_line2"><br>
                  Town: <input type="text" name="town"><br>
                  County: <input type="text" name="county"><br>
                  Postcode: <input type="text" name="postcode"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>
</div>

{% include "footer.html" %}