{% include "header.html" %}

<div class="container">

    <div class="row">
        <div class="col-12">
          <h2>Checksheet</h2>
            <form method="POST">
                  <select name ="customer_name">
                    {% for x in list_of_customers %}
                      <option value= "{{x}}">{{x}}</option>"
                    {% endfor %}
                  </select>
                  Location <input type="text" name="location"><br>

                  Registration: <input type="text" name="registration"><br>

                  <input type="hidden" name="full_toilet_removed" value="0" />
                  Full Toilet Removed:<input type="checkbox" name="full_toilet_removed" value="1"><br>

                  <input type="hidden" name="clean_toilet_cartridge_supplied" value="0" />
                  Clean Toilet Cartridge Supplied:<input type="checkbox" name="clean_toilet_cartridge_supplied" value="1"><br>

                  <input type="hidden" name="new_soap_supplied_to_canteen_and_toilet" value="0" />
                  New Soap Supplied To Canteen and Toilet<input type="checkbox" name="new_soap_supplied_to_canteen_and_toilet" value="1"><br>

                  <input type="hidden" name="new_hand_sanitiser_supplied_to_canteen_and_toilet" value="0" />
                  New Hand Santiser Supplied to Canteen and Toilet<input type="checkbox" name="new_hand_sanitiser_supplied_to_canteen_and_toilet" value="1"><br>

                  <input type="hidden" name="toilet_flush_water_refilled" value="0" />
                  Toilet Flush Water Re-Filled<input type="checkbox" name="toilet_flush_water_refilled" value="1"><br>

                  <input type="hidden" name="hand_wash_water_refilled_and_dirty_water_emptied" value="0" />
                  Hand Wash Water Re-filled and Dirty Water Emptied<input type="checkbox" name="hand_wash_water_refilled_and_dirty_water_emptied" value="1"><br>

                  <input type="hidden" name="canteen_cleaned" value="0" />
                  Canteen Cleaned<input type="checkbox" name="canteen_cleaned" value="1"><br>

                  <input type="hidden" name="toilet_area_cleaned" value="0" />
                  Toilet Area Cleaned<input type="checkbox" name="toilet_area_cleaned" value="1"><br>

                  <input type="hidden" name="toilet_roll_supplied" value="0" />
                  Toilet Roll Supplied <input type="checkbox" name="toilet_roll_supplied" value="1"><br>

                  <input type="hidden" name="hand_towels_supplied" value="0" />
                  Hand Towels Supplied<input type="checkbox" name="hand_towels_supplied" value="1"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>


    </div>
</div>

{% include "footer.html" %}