<html>

<head>
    <title>EB Form Home</title>
    <meta name="description" content="Home" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Checksheet Failure</h1>
        </div>

    <div class="row">
        <div class="col-12">
            <p>Checksheet submission failed.</p>
    </div>


    </div>
</div>






<script>
    console.log("Hi! Email dan@3264.uk");
</script>

</body>
</html>
