{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST">
                                Name: <input type="text" name="name"><br>

                            Lastname <input type="text" name="lastname"><br>

                            Phone Number: <input type="text" name="phonenumber"><br>

                            Email:<input type="text" name="email"><br>

                            Business:<input type="text" name="business"><br>

                            Address Line 1: <input type="text" name="address_line1"><br>

                            Address Line 2: <input type="text" name="address_line2"><br>

                            Town: <input type="text" name="town"><br>

                            County: <input type="text" name="county"><br>

                            Postcode: <input type="text" name="postcode"><br>

                            Siccode: <input type="text" name="siccode"><br>

            Agreement number: <input type="text" name="agreement_number"><br>
            URN:<input type="text" name="urn"><br>
            Sales code / branch number<input type="text" name="sales_code"><br>
            Salesperson who viewed proofs & card (if deposit required)<input type="text" name="salesperson"><br>

            <!--Category that best describes the customer 

                    Self employed / Sole trader
                    Partnership (under 50 employees)
                    Partnership (50 employees or more)
                    Ltd / Plc (under 50 employees)
                    Ltd / Plc (50 employees or more)
                    Government
                    NHS
                    Charity
            -->

            <h3>Business Details</h3>

            Business name<input type="text" name="business_name"><br>
            Full company name / trading name<input type="text" name="business_fullname"><br>

            Business address (registered office if Ltd or Plc)
            Line 1 <input type="text" name="business_addressline1"><br>
            Line 2<input type="text" name="business_addressline2"><br>
            Town<input type="text" name="business_town"><br>
            County<input type="text" name="business_county"><br>
            Postcode<input type="text" name="business_postcode"><br>


            Previous business name(s) if they have changed in the past 2 years
            Previous name 1:<input type="text" name="business_previousname1"><br>
            Previous name 2:<input type="text" name="business_previousname2"><br>

            Telephone (inc area code) <input type="text" name="business_telnumber"><br>
            Fax (inc area code)<input type="text" name="business_faxnumber"><br>
            Co reg number<input type="text" name="business_coreg"><br>
            Co VAT number<input type="text" name="business_vat"><br>

            Number of Employees<input type="text" name="number_of_employees"><br>

            <h3>Details of person acting as business contact</h3>

            Mr/Mrs/Ms<input type="text" name="contact_prefix"><br>
            Firstname<input type="text" name="contact_firstname"><br>
            Initial<input type="text" name="contact_initial"><br>
            Lastname<input type="text" name="contact_lastname"><br>
            Telephone<input type="text" name="contact_telnumber"><br>
            Daytime telephone<input type="text" name="contact_daynumber"><br>
            Job title<input type="text" name="contact_title"><br>
            Department<input type="text" name="contact_department"><br>
            Email address<input type="text" name="contact_email"><br>


            <h3>Director or partner details</h3> 
            <p>Please provide details of business owner for self employed, sole trader, a partner for partnership (under 50 employees), directors of companies that have not yet filed accounts</p>

            Title (eg Mr/Mrs)<input type="text" name="director_prefix"><br>
            First name<input type="text" name="director_firstname"><br>
            Middle initial<input type="text" name="director_initial"><br>
            Last name<input type="text" name="director_lastname"><br>
            Date of birth<input type="text" name="director_dob"><br>
            Current address
            Line 1<input type="text" name="director_addressline1"><br>
            Line 2<input type="text" name="director_addressline2"><br>
            Town<input type="text" name="director_town"><br>
            County<input type="text" name="director_county"><br>
            Postcode<input type="text" name="director_postcode"><br>

            <!--Residental status
                    Rent
                    Own
                    Living with parents
                    Other
            -->
            How long have you been at your current address<input type="text" name="director_addresslot"><br>

            Previous address (if you have lived at current address for less than 3 years)
            Line 1<input type="text" name="director_previousline1"><br>
            Line 2<input type="text" name="director_previousline2"><br>
            Town<input type="text" name="director_previouspostcode"><br>
            County<input type="text" name="director_previouscounty"><br>


            Home telephone<input type="text" name="director_telnumber"><br>
            Daytime telephone<input type="text" name="director_daynumber"><br>
            Email address<input type="text" name="director_email"><br>

            How long have you had your current bank / building society account <input type="text" name="director_banklot"><br>

            Occupational status<input type="text" name="director_status"><br>
                    Office based
                    Non office based
                    Other

            Tick if you have a credit card<input type="text" name="director_creditcard"><br>
            Time in current employment<input type="text" name="director_joblot"><br>

            Payment stuff here

                <input type="submit" value="Submit"><br>
            </form>
        </div>
    </div>
</div>

{% include "footer.html" %}