<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">
</head>


<body>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Welcome</h1>
            <p>This app is a work in progress of a program made in python to submit data to a database. The end goal will be to write further scripts to pull that data out and make it easy to print etc.</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/form-example">The example form</a></li>
                <li><a href="/form-success">The success form</a></li>
            </ul>
        </div>

    <div class="row">
        <div class="col-12">
            <form method="POST">
                  Name: <input type="text" name="name"><br>
                  Location <input type="text" name="location"><br>
                  Registration: <input type="text" name="registration"><br>
                  Full Toilet Removed:<input type="checkbox" name="full_toilet_removed"><br>
                  Clean Toilet Cartridge Supplied:<input type="checkbox" name="clean_toilet_cartridge_supplied"><br>
                  New Soap Supplied To Canteen and Toilet<input type="checkbox" name="new_soap_supplied_to_canteen_and_toilet"><br>
                  New Hand Santiser Supplied to Canteen and Toilet<input type="checkbox" name="new_hand_sanitiser_supplied_to_canteen_and_toilet"><br>
                  Toilet Flush Water Re-Filled<input type="checkbox" name="toilet_flush_water_refilled"><br>
                  Hand Wash Water Re-filled and Dirty Water Emptied<input type="checkbox" name="hand_wash_water_refilled_and_dirty_water_emptied"><br>
                  Canteen Cleaned<input type="checkbox" name="canteen_cleaned"><br>
                  Toilet Area Cleaned<input type="checkbox" name="toilet_area_cleaned"><br>
                  Toilet Roll Supplied <input type="checkbox" name="toilet_roll_supplied"><br>
                  Hand Towels Supplied<input type="checkbox" name="hand_towels_supplied"><br>
                  <input type="submit" value="Submit"><br>
              </form>
        </div>
    </div>


    </div>
</div>






<script>
    console.log("Hi! Email dan@3264.uk");
</script>

</body>
</html>
