<!DOCTYPE html>
<html lang="en">

<head>

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/grid.css">
    <link rel="stylesheet" href="/static/_style.css">	
</head>


<body>



<div class="container">
	<div class="row">
		<h1 style="text-align: center;">Enable Forms</h1>
		<div class="topnav" id="myTopnav">
			<a href="/">Home</a>
			<a href="/waste-transfer">Waste Transfer</a>
			<a href="/checksheet">Checksheet</a>	
		  <div class="dropdown">
		    <button class="dropbtn">Add +
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <div class="dropdown-content">
			<a href="/add-customer">Add Customer</a>
			<a href="/add-location">Add Location</a>
			<a href="/add-agent">Add Agent</a>	
		    </div>
		  </div>
		    <div class="dropdown">
		    <button class="dropbtn">Reports
		      <i class="fa fa-caret-down"></i>
		    </button>
		    <div class="dropdown-content">
			<a href="/get-report">Pretty Report</a>
			<a href="/print-report">Ugly Report</a>
			<a href="/email-report-collection">Email Collection</a>
			<a href="/email-report-checksheet">Email Checksheet</a>
		    </div>
		  </div>
		  	{% if username != "Guest" %}
				<a href="/logout">Logout</a>
			{% endif %}
			{% if username == "Guest" %}
				<a href="/login">Login</a>
			{% endif %}
		  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
		</div> 
	</div>
</div>
